{% extends "web/base.html" %}
{% block content %}

<body>
    <article class="media content-section">
    <div class="media-body">
        <h2 class = "account-heading">Parent Contact Information</h2>
        <p >Parent Name: {{ parent.first_name }} {{ parent.last_name }}</p> 
        <p >Parent Email: {{ parent.email }}</p>

        <br>
        
        <h4>Parents Children</h4>
        <ol>
        {% for child in children %}
            <li>{{child.first_name}} {{child.last_name}} </li>
        {% endfor%}
        </ol>
    </div>
    </article>
</body>

{% endblock content %}