{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class "content-section">
        <div class"media-body>
            <h2 class = "account-heading">{{ user.first_name }} {{ user.last_name }}</h2> 
            <p class="text-secondary">{{ user.username }}</p>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        <div class ="form=group">
            <button class="btn btn-outline-info" onclick="location.href={% url 'profile_update' %}">Update My Profile</button>
        </div>
    </div>
    <div class "content-section">
        <div class"media-body>
            <h2 class = "account-heading">My Children</h2> 
        </div>
        <div>
            {% for parent in parents %}
                <h3>I am here... </h3>
                <h3>{{parent.first_name}}</h3>            
            {% endfor%}
        </div>

        <div class ="form=group">
            <button class="btn btn-outline-info" onclick="location.href={% url 'add_children' %}">Add Children</button>
        </div>

    </div>
    <div class "content-section">
        <div class"media-body>
            <h2 class = "account-heading">My Organizations</h2> 
        </div>
      
        <div class ="form=group">
            <button class="btn btn-outline-info" onclick="location.href={% url 'add_organization' %}">Add Organization</button>
        </div>
   
    </div>




{% endblock content %}