{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class "content-section">
        <div class"media-body>
            <h2 class = "account-heading">{{ obj.name }} </h2> 
        </div>
            <form method = 'get'>
                {{myFilter.form | crispy}}
                <button class="btn btn-primary" type="submit"> Submit</button> 
    
            </form>

            {% load django_tables2%}
            {% render_table table %}

    </div>


{% endblock content %} 