{% extends "web/base.html" %}
{% block content %}

<body>
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class = "account-heading">Upcoming Events</h3>
        </div>
        <br>


        {% load django_tables2%}
        {% render_table table %}


        <table>
            <tr>
                <th>Participant</th>
                <th>Activity</th>
                <th>Start Date</th>
            </tr>

            
            {% for child, activity in children_activities %}
            
                    {% for item in activity %}
                    <tr>
                        <td>
                            {{child.first_name}} {{child.last_name}}
                        </td>
                        <td>
                        {{item.title}} 
                        </td>

                        <td>
                            {{item.start_date}} 
                        </td>
                    </tr>
                    {% endfor%}
    
         
            {% endfor%}
            
        </table>

    </div>
    </article>
</body>

{% endblock content %}