{% extends "web/base.html" %}
{% block content %}
 
  
  <body>
    <h1>Welcome to Receatio </h1>
    <p>We are to help you find activities to keep your children busy and active, search below to experience how we can help you.
      Login and setup an account for more information</p>

    {% for activity in activities %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ activity.organization.name }}</a>
            <small class="text-muted">{{ activity.date_posted|date:"F d, Y"}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'activity-detail' activity.id %}">{{ activity.title }}</a></h2>
          <p class="article-content">{{ activity.description }}</p>
        </div>
      </article>
    {% endfor %}
  
  
    </body>
 
{% endblock content %}